numpy == 1.19
scipy == 1.4.1
absl-py
dm-sonnet
dopamine-rl <= 3.0.1
imageio
librosa >= 0.6.2, < 0.8.0
matplotlib >= 1.5.3
mido == 1.2.6
mir_eval >= 0.4
note-seq
numba < 0.50
Pillow >= 3.4.2
pretty_midi >= 0.2.6
pygtrie >= 2.3
python-rtmidi >= 1.1, < 1.2
scikit-image
six >= 1.12.0
sk-video
sox >= 1.3.7
tensor2tensor
tensorflow
tensorflow-datasets 
tensorflow-probability == 0.7
tensorflow-estimator
tf_slim
wheel
cloudpickle == 1.6.0
magenta == 1.3.1

